<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/homepage-styling.css">
    <script src="/static/homepage-scripts.js"></script>
    <title>Homepage</title>
</head>
<body>
    <div class="preloader-container">
        <div class="preloader-2">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            <span class="line line-4"></span>
            <span class="line line-5"></span>
            <span class="line line-6"></span>
            <span class="line line-7"></span>
            <span class="line line-8"></span>
            <span class="line line-9"></span>
          </div>
        <div class="preloader-1">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            <span class="line line-4"></span>
            <span class="line line-5"></span>
            <span class="line line-6"></span>
            <span class="line line-7"></span>
            <span class="line line-8"></span>
            <span class="line line-9"></span>
          </div>
          <div class="scan-area">
            <div class="scanline"></div>
            <div class="scanline2"></div>
            <div class="scanline3"></div>
          </div>
          <div class="glitch-text">
            <span class="letter">S</span>
            <span class="letter">Y</span>
            <span class="letter">S</span>
            <span class="letter">T</span>
            <span class="letter">E</span>
            <span class="letter">M</span>
            <span class="letter">-</span>
            <span class="letter">I</span>
            <span class="letter">N</span>
            <span class="letter">I</span>
            <span class="letter">T</span>
            <span class="letter">I</span>
            <span class="letter">A</span>
            <span class="letter">L</span>
            <span class="letter">I</span>
            <span class="letter">Z</span>
            <span class="letter">I</span>
            <span class="letter">N</span>
            <span class="letter">G</span>
            <span class="letter">.</span>
            <span class="letter">.</span>
            <span class="letter">.</span>
        </div>
    </div>
    <div id="matrix-container">
        <div id="matrix-background"></div>
    </div>
    <main>
        <div id="main-wrapper" class="grid-item">
            <div id="buttonspace-wrapper">
                <nav id="buttonspace"> 
                    <div class="button-wrapper">
                    <a class="homepage-button" id="dashboard" href="/dashboard">
                        <img id="dashboard-logo" src="/static/images/dashboard-svgrepo-com.svg" alt="Dashboard Icon">
                        <span class="homepage-icon-text">Dashboard</span>
                    </a>
                </div>
                    <div class="button-wrapper">
                    <a class="homepage-button" id="new-chat" href="/new-chat">
                        <img src="/static/images/chat-round-dots-svgrepo-com.svg" alt="New Chat Icon">
                        <span class="homepage-icon-text">New Chat</span>
                    </a>
                </div>
                    <div class="button-wrapper">
                    <a class="homepage-button" id="load-chat" href="/load-chat">
                        <img src="/static/images/load-list-svgrepo-com.svg" alt="Load Chat Icon">
                        <span class="homepage-icon-text">Load Chat</span>
                    </a>
                </div>
                    <div class="button-wrapper">
                    <a class="homepage-button" id="no" href="/some-text">
                        <img src="/static/images/load-list-svgrepo-com.svg" alt="Some Text Icon">
                        <span class="homepage-icon-text">Some Text</span>
                    </a>
                </div>
                    <div class="corner tl"></div>
                    <div class="corner tr"></div>
                    <div class="corner bl"></div>
                    <div class="corner br"></div>
                </nav>
            </div>
        </div>
    </main>
</body>
</html>